<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style-body.css">
    <link rel="stylesheet" href="css/style-logo.css">
    <link rel="stylesheet" href="css/style-body-header.css">
    <link rel="stylesheet" href="css/style-body-main.css">
    <link rel="stylesheet" href="css/style-body-footer.css">
    <title>RUN STORE</title>
    <!-- logo task bar -->
    <link rel="icon" type="image/png" href="./img/logo/img/RUN-STORE-img-1.png">
</head>

<body>
    <div class="column-main"><!--architec: column -> row-header -> row-body -> row-footer-->

        <!--////////////////////////////////////////////////////// body header //////////////////////////////////////////////////////-->
        <header id="header">

            <!-- /////////////////////////////////////// 
                body header when open 
            /////////////////////////////////////// -->
            <div class="row-body-header-open">

                <!-- <div class="column-a-circle" id="left">
                    |||
                </div> -->

                <!--////////////////////////////////////////////////////// when open //////////////////////////////////////////////////////-->

                <!-- <div class="row-connect-body-header-start"> -->

                <div class="column-inline-body-header-start" id="left">-</div>
                <div class="column-inline-body-header-mid" id="Logo">
                    <img class="logo-img-header-open" src="./img/logo/img/RUN STORE-img-0.png" alt="LOGO">
                </div>
                <div class="column-inline-body-header-mid">HOME</div>
                <div class="column-inline-body-header-mid">ABOUT</div>
                <div class="column-inline-body-header-mid">SHOP</div>

                <!-- </div> -->

                <!-- <div class="row-connect-body-header-end"> -->

                <div class="column-inline-body-header-mid">CONTACT</div>
                <div class="column-inline-body-header-mid">USER</div>
                <div class="column-inline-body-header-mid">MENU</div>
                <div class="column-inline-body-header-end">+</div>

                <!-- </div> -->

            </div>



            <!-- //////////////////////////////////////////////////////// ///////////////// 
                                                        Header body when close open 
            ///////////////////////////////////////////////////////////////////////// -->


            <div class="column-body-header-close">

                <div class="column-body-header-close-start" id="start"></div>
                <div class="column-body-header-close-mid" id="logo">
                    <img class="logo-img-header-close" src="./img/logo/img/RUN STORE-img-0.png" alt="LOGO">
                </div>
                <div class="column-body-header-close-mid">
                    <p>HOME</p>
                </div>
                <div class="column-body-header-close-mid">
                    <p>ABOUT</p>
                </div>
                <div class="column-body-header-close-mid">
                    <p>CONTACT</p>
                </div>
                <div class="column-body-header-close-mid">
                    <p>USER</p>
                </div>
                <div class="column-body-header-close-mid">
                    <p>SHOP</p>
                </div>
                <div class="column-body-header-close-mid">
                    <p>MENU</p>
                </div>
                <div class="column-body-header-close-end" id="end"></div>


            </div>


        </header>

        <!-- <a href="#footer">Skip to main content</a> -->


        <!--////////////////////////////////////////////////////// body main //////////////////////////////////////////////////////-->

        <main>
            <div class="row-body-main">
                <!-- <div class="column-line-left">            
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div> -->

            </div>
        </main>


        <!--////////////////////////////////////////////////////// body main //////////////////////////////////////////////////////-->
        <footer class="footer">
            <div class="row-footer">

                <div class="column-line-left">
                    <video class="logo-video-footer" controls autoplay>
                        <source src="./img/logo/video/RUN STORE-video-3.mp4" type="video/mp4">
                    </video>
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
            </div>

        </footer>


    </div>


    <script src="./css/style-body-header.js">


    </script>
</body>

</html>