<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style-body.css">
    <link rel="stylesheet" href="css/style-logo.css">
    <link rel="stylesheet" href="css/style-body-header.css">
    <link rel="stylesheet" href="css/style-body-main.css">
    <link rel="stylesheet" href="css/style-body-footer.css">
    <title>RUN STORE</title>
    <!-- logo task bar -->
    <link rel="icon" type="image/png" href="./img/logo/img/RUN-STORE-img-1.png">
</head>

<body>
    <div class="column-main"><!--architec: column -> row-header -> row-body -> row-footer-->

        <table>
            <caption>ABC</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th>EDIT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>0</th>
                    <td>abc</td>
                    <td>abc</td>
                    <td>abc</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>abc</td>
                    <td>abc</td>
                    <td>abc</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>abc</td>
                    <td>abc</td>
                    <td>abc</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>abc</td>
                    <td>abc</td>
                    <td>abc</td>
                </tr>
            </tbody>
        </table>
       


    </div>


    <script src="./css/style-body-header.js"></script>
</body>

</html>