<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>RUN STORE</title>
    <!-- logo task bar -->
    <link rel="icon" type="image/png" href="./img/logo/img/RUN-STORE-img-1.png">
</head>

<body>
    <div class="column-main"><!--architec: column -> row-header -> row-body -> row-footer-->

        <!--////////////////////////////////////////////////////// header //////////////////////////////////////////////////////-->
        <header>
            <div class="row-header">
                <div id="Logo" class="column-line-left">
                    <video class="logo-video-header" controls autoplay>
                        <source src="./img/logo/video/RUN STORE-video-3.mp4" type="video/mp4">
                    </video>
                </div> 

                <div class="column-line-left">
                   
                    HOME
                </div>
                <div class="column-line-left">
                    ABOUT
                </div>
                <div class="column-line-left">
                    SHOP
                </div>
                <div class="column-line-left">
                    CONTACT
                </div>
                <div class="column-line-left">
                    USER
                </div>
                <div class="column-line-left">
                    MENU
                </div>
            </div>

        </header>

        <!-- <a href="#footer">Skip to main content</a> -->

        <!--////////////////////////////////////////////////////// body main //////////////////////////////////////////////////////-->
        
        <main>
            <div class="row-body-main">
                <div class="column-line-left">            
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                
            </div>
        </main>

        <!--////////////////////////////////////////////////////// body main //////////////////////////////////////////////////////-->
        <footer class="footer">
            <div class="row-footer">

                <div class="column-line-left">
                   <img class="logo-img-footer" src="./img/logo/img/RUN STORE-img-0.png" alt="LOGO">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
                <div class="column-line-left">
                    adsf
                </div>
            </div>
             
        </footer>


    </div>


</body>

</html>