/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////// LOGO ///////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.logo-video-footer {
    padding-bottom: 10px;
    width: 200px;
    height:200px;
    background-color:aliceblue;
}


.logo-img-header-open {
    width: 60px;
    height: 60px;
}


.logo-img-header-close {
    width: 50px;
    height: 50px;
    position: absolute;
    inset-inline-start: 25px;
    inset-block-end: 0px;
    inset-block-start: 5px;
    /* bottom: 5px;
    right: -0.5px */
}